@import "tailwindcss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.light{
    background-color: white;
    color: black;
    height: 100vh;
}
.dark{
    background-color: black;
    color: white;
    height: 100vh;
}